.input-container {
  position: relative;
  margin-bottom: 1.5rem;
  /* Adjust as needed */
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="password"] {
  width: 387px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}

.input-container input[type="text"]:focus,
.input-container input[type="email"]:focus,
.input-container input[type="password"]:focus {
  border-bottom: 2px solid #007bff;
  /* Change the color as needed */
}

.input-container label {
  position: absolute;
  top: 18px;
  left: 10px;
  color: #999;
  transition: top 0.3s ease, font-size 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus~label,
.input-container input[type="email"]:focus~label,
.input-container input[type="password"]:focus~label,
.input-container input[type="text"]:valid~label,
.input-container input[type="email"]:valid~label,
.input-container input[type="password"]:valid~label {
  top: -10px;
  font-size: 12px;
  color: #007bff;
  /* Change the color as needed */
}
