.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
.main-content {
  position: relative;
  overflow: hidden;
  border: 1px solid;
  height: 100vh;
  width: 100%;
  flex: 1;

.form-container {
  position: absolute;
    top: 50%;
    height: 320px;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.15); /* Adjust transparency as needed */
    backdrop-filter: blur(10px); /* Adjust blur intensity */
    border-radius: 15px; /* Adjust border radius */
    border: 1px solid rgba(255, 255, 255, 0.125); /* Adjust border color and transparency */
    padding: 20px; /* Adjust padding as needed */
    /* Optionally, you can add other styles such as box-shadow for additional depth */
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    transition: 0.3s ease-in-out;
  }

}

.button-container {
  text-align: right;
  .login-button {
    position: relative;
    top: 10px;
  }

}
